@font-face
{
	font-family:"Cuprum";
	src:url(../fonts/Cuprum-Regular.ttf)
}
*{
	padding:0px;
	margin :0px;
}
@media (max-width:480px)
{


body{background-color:gray;}
	.main
	{
		width:320px;
		margin:0 0 0 0;
		/*border:1px solid black;*/
	}
	
	.plank
	{
		position:absolute;
		width:4px;
		height: 1882px;
		background-color:rgb(0,132,0);
	}
	
	.header
	{
		height: 117px;
		background-color:white;
	}
	
	.menu
	{
		width: 57px;
		height: 57px;
		/*background-image:('../img/menu.gif');*/
		background-color:rgb(0,132,0);
		border-radius: 0px 0px 20px 0px;
		float:left;
		margin-left:3px;
	}
	#img-m
	{
		margin: 10px 0px 0px 10px;
	}

	.mainlogo
	{
		width: 209px;
		height:100px;
		background-image:url('../img/Kava_Drive_320.gif');
		background-repeat: no-repeat;
		background-color:white;
		float:right;
		margin: 25px 40px 0px 0px;
	}	
	
	.content
	{
		width: 285px;
		/*min-height:700px;*/
		height: 1765px;
		text-align:left;
		background-color:white;
		margin-left: 0px;
		padding-left: 14px;
		padding-right: 21px;
		font-family:"Cuprum", sans-serif;
		font-size: 20px;
		color: rgb(51,51,51);
		text-shadow:0px 0px 1px #333333;
	}
	
	.bottom
	{
		width: 250px;
		height: 150px;
		/*background-image:url('../img/barista.gif');*/
		background-repeat: no-repeat;
		background-color:white;
		text-shadow:0px 0px 1px rgb(109,54,24);
		color:rgb(109,54,24);
		font-size: 30px;
		text-align: left;
		text-transform:capitalize;
		margin-left: 16px;
		display: inline-block;
	}
	.xz
	{
		
	}
	.bottom img
	{
		float:left;
		display: inline-block;
		width: 37px;
		height: 37px;
		margin: 0px 15px 10px 12px;
	}
	.slog
	{
		margin-left:62px;
	}
	.garant
	{
		margin-top:30px;
	}
	.meet
	{
		
	}
	.footer
	{
		font-family: 'Cuprum', sans-serif;
		display:block;
		width:100%;
		height: 250px;
		/*min-height:calc(100vh - 700px);*/
		background-color:rgb(51,51,51);
		font-size:24px;
		font-style:italic;
		color:rgb(192,192,192);
	}
	
	.inv
	{
		height: 25px;
	}
	
	.contacts 
	{
		height: 120px;
		margin-left: 34px;
	}
	
	.mail
	{
		position:relative;
		top: 25px;
		text-decoration:none;
		color:rgb(204,204,204);
		font-size: 20px;
		font-weight: 400;
	}
	
	.break
	{
		width: 300px;
		margin: 33px 0px 0px -25px;
	}
	.break img
	{
		width:300px;
		height:1px;
	}
	.links
	{
		margin-top:5px;
	}
	.line-two
	{
		width:300px;
		height:1px;
		background-color:gray;
		margin:18px 0px 0px -25px;
	}
	.com-name
	{
		font-size:14px;
		text-align: right;
		margin: 10px 25px 0px 0px;
	}
	
	li
	{
		margin-left:0px;
		margin-top: 30px;
		margin-bottom: 30px;
		color: rgb(51,51,51);
		line-height: 1.4;
		display:flex;
		list-style-type: none; /* Прячем исходные маркеры */
    }
    li:before 
	{
		color: red; /* Цвет маркера */
		content: "• "; /* Сам маркер */
		padding-right: 10px; /* Расстояние от маркера до текста */
   }
	
	a
	{
		text-decoration:none;
		margin-left: 0px;
	}
}

@media (min-width:481px) and (max-width:767px)
{

body{background-color:gray;}
	.main
	{
		width:640px;
		margin:0 0 0 0;
		/*border:1px solid black;*/
	}
	
	.plank
	{
		position:absolute;
		width:4px;
		height: 1082px;
		background-color:rgb(0,132,0);
	}
	
	.header
	{
		width: 640px;
		height:152px;
		background-color:white;
	}
	
	.menu
	{
		width: 66px;
		height: 66px;
		/*background-image:('../img/menu.gif');*/
		background-color:rgb(0,132,0);
		border-radius: 0px 0px 20px 0px;
		float:left;
		margin-left:4px;
	}
	#img-m
	{
		margin: 15px 0px 0px 15px;
	}

	.mainlogo
	{
		width:260px;
		height:100px;
		background-image: url('../img/Kava_Drive1.gif');
		background-repeat: no-repeat;
		background-color:white;
		float:right;
		margin: 10px 205px 0px 0px;
	}	
	
	.content
	{
		width: 602px;
		height: 930px;
		text-align: left;
		background-color:white;
		margin-left:0px;
		padding-left: 15px;
		padding-right: 23px;
		font-family:"Cuprum", sans-serif;
		font-size: 20px;
		color: rgb(51,51,51);
		text-shadow: 0px 0px 0px #000000;
	}
	
	.bottom
	{
		width: 600px;
		height:40px;
		/*background-image:url('../img/barista.gif');*/
		background-repeat: no-repeat;
		background-color:white;
		margin-left: 23px;
		margin-bottom: 25px;
		text-shadow:0px 0px 0spx rgb(109,54,24);
		color:rgb(109,54,24);
		font-size: 36px;
		font-weight: lighter;
		text-align: center;
		text-transform: uppercase;
	}
	.xz
	{
		
	}
	.slog
	{
		margin-left:0px;
	}
	.garant
	{
		margin-top:30px;
	}
	.meet
	{
		
	}

	.bottom img
	{
		float:left;
		width: 37px;
		height: 35px;
		margin-left:16px;
	}
	
	.footer
	{
		font-family: 'Cuprum', sans-serif;
		display:block;
		width:100%;
		height: 125px;
		/*min-height:calc(100vh - 700px);*/
		background-color:rgb(51,51,51);
		color:rgb(204,204,204);
		font-size: 23px;
		font-style:italic;
		text-shadow: 0px 0px 0px white;
	}
	
	.inv
	{
		height: 25px;
	}
	
	.contacts 
	{
		/* height:55px; */
		margin-left:40px;
	}
	
	.mail
	{
		position:relative;
		top:-34px;
		text-decoration:none;
		margin-left: 380px;
		color:rgb(204,204,204);
	}
	
	.break
	{
		margin: -40px 0px 0px -25px;
	}
	.break img
	{
		width: 610px;
		height: 1px;
	}
	.com-name
	{
		font-size:14px;
		text-align:right;
		margin-right: 20px;
		margin-top: -35px;
	}
	
	li
	{	
		margin-top: 30px;
		margin-bottom: 30px;
		color: rgb(51,51,51);
		line-height: 1.4;
		display:flex;
		list-style-type: none; /* Прячем исходные маркеры */
    }
    li:before 
	{
		color: red; /* Цвет маркера */
		content: "• "; /* Сам маркер */
		padding-right: 10px; /* Расстояние от маркера до текста */
   }
	
	a
	{
		text-decoration:none;
		margin-left: 0px;
	}


}

@media (min-width:768px) and (max-width:1199px)
{

body{background-color:gray;}
	.main
	{
		width:768px;
		margin:0 0 0 0;
		/*border:1px solid black;*/
	}
	
	.plank
	{
		position:absolute;
		width:4px;
		height: 1045px;
		background-color:rgb(0,132,0);
	}
	
	.header
	{
		height:160px;
		background-color:white;
	}
	
	.menu
	{
		width:69px;
		height:69px;
		/*background-image:('../img/menu.gif');*/
		background-color:rgb(0,132,0);
		border-radius: 0px 0px 20px 0px;
		float:left;
		margin-left:4px;
	}
	#img-m
	{
		margin:18px 0px 0px 18px;
	}

	.mainlogo
	{
		width:260px;
		height:100px;
		background-image:url('../img/Kava_Drive.gif');
		background-repeat: no-repeat;
		background-color:white;
		float:right;
		margin:10px 255px 0px 0px;
	}	
	
	.content
	{
		width: 723px;
		height: 885px;
		text-align: left;
		background-color:white;
		margin-left:0px;
		padding-left: 15px;
		padding-right:30px;
		font-family:"Cuprum", sans-serif;
		font-size: 20px;
		color: rgb(51,51,51);
		text-shadow: 0px 0px 0px #000000;
	}

	.bottom
	{
		width:560px;
		height:40px;
		background-repeat: no-repeat;
		background-color:white;
		margin-left:40px;
		margin-bottom:25px;
		text-shadow:0px 0px 1px rgb(109,54,24);
		color:rgb(109,54,24);
		font-size: 36px;
		text-align:right;
		text-transform:uppercase;
	}
	
	.xz
	{
		
	}
	.slog
	{
		margin-left: 0px;
		font-size: 36px;
	}
	.garant
	{
		margin-top:30px;
	}
	.meet
	{
		
		margin: 30px 0px 50px 25px;
	}

	.bottom img
	{
		float:left;
		width: 37px;
		height: 35px;
		margin-left: 0px;
	}
	.footer
	{
		font-family: 'Cuprum', sans-serif;
		display:block;
		width:100%;
		height:140px;
		/*min-height:calc(100vh - 700px);*/
		background-color:rgb(51,51,51);
		color:rgb(204,204,204);
		font-size: 20px;
		font-style:italic;
		text-shadow: 0px 0px 0px white;
	}
	
	.inv
	{
		height:17px;
	}
	
	.contacts 
	{
		height:55px;
		margin-left:40px;
	}
	
	.mail
	{
		position:relative;
		top:-34px;
		text-decoration:none;
		margin-left: 315px;
		color:rgb(204,204,204);
	}
	
	.break
	{
		margin:-25px 0px 0px -25px;
	}
	
	.com-name
	{
		font-size:14px;
		text-align:right;
		margin-right: 20px;
		margin-top: -35px;
	}
	
	li
	{	
		margin-top: 30px;
		margin-bottom: 30px;
		color: rgb(51,51,51);
		line-height: 1.4;
		display:flex;
		list-style-type: none; /* Прячем исходные маркеры */
    }
    li:before 
	{
		color: red; /* Цвет маркера */
		content: "• "; /* Сам маркер */
		padding-right: 10px; /* Расстояние от маркера до текста */
   }
	
	a
	{
		text-decoration:none;
		margin-left: 0px;
	}
}

@media (min-width:1200px)
{

body{background-color:gray;}
	.main
	{
		width:1200px;
		margin:0 0 0 0;
		/*border:1px solid black;*/
	}
	
	.plank
	{
		position:absolute;
		width:4px;
		height: 1258px;
		background-color:rgb(0,132,0);
	}
	
	.header
	{
		height: 130px;
		background-color:white;
	}
	
	.menu
	{
		width:69px;
		height:69px;
		/*background-image:('../img/menu.gif');*/
		background-color:rgb(0,132,0);
		border-radius: 0px 0px 20px 0px;
		float:left;
		margin-left:4px;
	}
	#img-m
	{
		margin:18px 0px 0px 18px;
	}

	.mainlogo
	{
		width:260px;
		height:100px;
		background-image:url('../img/Kava_Drive_red.gif');
		background-repeat: no-repeat;
		background-color:white;
		float:right;
		margin: 10px 510px 0px 0px;
	}	
	
	.content
	{
		/*min-height:700px;*/
		height: 1128px;
		color: rgb(51,51,51);
		text-align:justify;
		background-color:white;
		padding-left:13px;
		padding-right: 20px;
		font-family:"Cuprum", sans-serif;
		font-size: 30px;
		text-shadow: 0px 0px 0px #5f5050;
	}
	
	.bottom
	{
		width: 560px;
		height:40px;
		/*background-image:url('../img/barista.gif');*/
		background-repeat: no-repeat;
		background-color:white;
		margin-left: 290px;
		margin-right:10px;
		margin-bottom: 30px;
		text-shadow:0px 0px 1px rgb(109,54,24);
		color:rgb(109,54,24);
		font-size: 36px;
		text-align: right;
		text-transform:uppercase;
	}
	.xz
	{
		
	}
	.slog
	{
		margin-left: 0px;
		font-size: 36px;
	}
	.garant
	{
		margin-top:30px;
	}
	.meet
	{
		
		margin: 30px 0px 50px 25px;
	}

	.bottom img
	{
		float:left;
		width: 37px;
		height: 35px;
		margin-left: 0px;
		margin-right: 10px;
	}
	
	.footer
	{
		font-family: 'Cuprum', sans-serif;
		display:block;
		width:100%;
		height:140px;
		/*min-height:calc(100vh - 700px);*/
		background-color:rgb(51,51,51);
		color:rgb(204,204,204);
		font-size:24px;
		font-style:italic;
		text-shadow: 0px 0px 0px white;
	}
	
	.inv
	{
		height:17px;
	}
	
	.contacts 
	{
		height:55px;
		margin-left:40px;
	}
	
	.mail
	{
		position:relative;
		top:-34px;
		text-decoration:none;
		margin-left: 830px;
		color:rgb(204,204,204);
	}
	
	.break
	{
		margin:-25px 0px 0px -25px;
	}
		.break img 
	{
		width:1160px;
		height:1px;
	}
	.com-name
	{
		font-size:14px;
		text-align:right;
		margin-right: 20px;
		margin-top: -35px;
	}
	
	li
	{	
		margin-top: 30px;
		margin-bottom: 30px;
		color: rgb(51,51,51);
		line-height: 1.4;
		display:flex;
		list-style-type: none; /* Прячем исходные маркеры */
    }
    li:before 
	{
		color: red; /* Цвет маркера */
		content: "• "; /* Сам маркер */
		padding-right: 10px; /* Расстояние от маркера до текста */
   }
	a
	{
		text-decoration:none;
		margin-left: 0px;
	}

}



